<!DOCTYPE html>
<html>

<link href="../assets/css/main.css" rel="stylesheet" type="text/css" />

<head>
    <img class="logo-img" src="../assets/img/Earth_recycle.png" alt="XX">

    <title>Recycle API |
        <%= title %>
    </title>
</head>

<body class="bg">

    <%- include('partials/nav.ejs')  %>

</body>

<%- include('partials/footer.ejs')  %>

</html>