<div>
    <input type="checkbox" id="check">
    <label for="check">
        <img class="menu-img" src="../assets/img/icons8-menu-48.png" alt="">
    </label>
    <nav>
        <ul>
            <li><a class="list" href="/">Home</a></li>
            <li><a class="list" href="/login">Sign in</a></li>
            <li><a class="list" href="/register">Sign up</a></li>
            <li><a class="list" href="">Materials</a></li>
            <li><a class="list" href="">Buy</a></li>
            <li><a class="list" href="">Sell</a></li>
            <li><a class="list" href="/database">Check Database</a></li>
            <li><a class="list" href="">Contact</a></li>
        </ul>
    </nav>
</div>